@import "./reset";

header{
	background-color: #38AEF0;
	color: #FFFFFF;
	height: 25px;
	width: 100vw;
	text-align: center;
}

.chatspace{
	min-width: 980px;
	height: 100vh;
}

.chat-side{
	background-color: #2f3e51;
	width: 300px;
	height: 100vh;
	color: #ffffff;
	float: left;
}

.chat-user{
	height: 100px;
	background-color: #253141;
	padding: 0 20px;

	&__name{
		float: left;
		line-height: 100px;
		h5{
			font-size: 16px;
			font-weight: bold;
		}
	}
	&__action{
		float: right;
		line-height: 100px;
		font-size: 16px;
		&__group{
			float: left;
			padding-left: 5px;
		}
		&__user{
			float: right;
		}
	}
}

.chat-group{
	padding: 20px 20px;
	overflow: scroll;

	&__name{
		font-size: 15px;
		padding-bottom: 5px;
	}
	&__message{
		font-size: 11px;
	}
}

.chat-main{
	height: 100vh;
	width: calc(100vw - 300px);
	float: right;
	position: relative;
}

.chat-header{
	height: 100px;
	border-bottom: 1px solid #eeeeee;
	padding: 0 40px;

	&__left{
		float: left;
		padding-top: 35px;
		width: 700px;
		.group{
			font-size: 20px;
			padding-bottom: 15px;
			color: #333333;
		}
		.user{
			font-size: 12px;
			color: #999999;
		}
	}
	&__right{
		float: right;
		height: 40px;
		margin-top: 28px;
		.edit-btn{
			color: #38AEF0;
			padding: 12px 20px;
			text-align: center;
			line-height: 40px;
			font-size: 14px;
			border: 1px solid #38AEF0;
		}
	}
}

.chat-body{
	overflow: scroll;
}

.chat-contents{
	list-style: none;
	padding: 46px 40px 40px 40px;
	color: #434A54;

	&__name{
		width: 100px;
		float: left;
		font-size: 16px;
		font-weight: bold;
	}
	&__time{
		width: 100px;
		float: right;
		font-size: 12px;
		color: #999999;
	}
	&__message{
		font-size: 14px;
	}
}

.chat-footer{
	bottom: 0;
	height: 90px;
	position: absolute;
	display: flex;
	align-items: center;
	background-color: #dcdcdc;
	width: calc(100vw - 300px);


	&__messagebody{
		position: relative;
		width: 64vw;
		&__text{
			float: left;
			padding-left: 40px;
			textarea{
				float: left;
				width: 60vw;
				height: 50px;
				line-height: 50px;
				padding-left: 10px;
				font-size: 16px;
				color: #434A54;
				resize: none;
				border: solid 0px;
			}
		}
		&__image{
			position: absolute;
			float: right;
			width: 30px;
			line-height: 50px;
			height: 50px;
			right: 10px;
			font-size: 1.3rem;

		}
	}
	&__send{
		float: right;
		margin-left: 15px;
		background-color: #38AEF0;
		color: #FFFFFF;
		height: 50px;
		width: 100px;
		text-align: center;
		line-height: 50px;


	}
}